{% extends "layout.html" %} {% block body %}
<h2>Home</h2>
<a href="/users">See users</a>
<h3>Register now!</h3>
<form method="POST" action="/register">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <select name="element">
    <option value="fire">Fire</option>
    <option value="water">Water</option>
    <option value="air">Air</option>
    <option value="earth">Earth</option>
  </select>
  <input type="submit" value="Register" />
</form>
<script>
  document.querySelector('form').onsubmit = () => {
    const name = document.querySelector('input[name]').value;
    if (name === 'briano') {
      alert('briano not allowed');
      return false;
    }
  };
</script>
{% endblock %}
